name: Reusable workflow test

on:
  workflow_call:
    inputs:
      SERVICE_NAME:
        required: true
        type: string
    secrets: 
      DEMO:
        required: true
      GH_TOKEN:
        required: false

jobs:
  baker:
    name: Pass input to my-action
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: echo
      run: |
        echo "SERVICE_NAME: ${{ inputs.SERVICE_NAME }}"
    
    - run: |
        echo "job id is: ${{ github.job }}"
        echo "${{ github.run_id }}"

  check_errors:
    name: Check errors
    runs-on: ubuntu-latest
    needs: [baker]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: check logs
      if: env.GH_TOKEN != ''
      run: |
        echo github.job - ${{ github.job }}
        echo github.job.container - ${{ github.job.container }}
        echo github.job.container.id - ${{ github.job.container.id }}
        echo github.job.container.network - ${{ github.job.container.network }}
        echo github.job.services - ${{ github.job.services }}
        echo github.job.status - ${{ github.job.status }}
      env:
        GH_TOKEN: ${{secrets.GH_TOKEN}}