name: Reusable workflow test

on:
  workflow_call:
    inputs:
      SERVICE_NAME:
        required: true
        type: string
      var_x:
        required: false
        default: 'false'
        type: string
      var_y:
        required: false
        default: 'false'
        type: string
    secrets: 
      DEMO:
        required: true
      GH_TOKEN:
        required: false

jobs:
  # baker:
  #   name: Pass input to my-action
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2

  check_errors:
    name: Check errors
    runs-on: ubuntu-latest
    # needs: [baker]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - run: |
        echo "var_x=false" >> GITHUB_ENV
        echo "var_y=false" >> GITHUB_ENV

    - name: if x
      if: ${{ env.var_x == 'false' }}
      run: echo VAX="DEV" >> GITHUB_ENV

    - name: if x and y
      if: ${{ env.var_x == 'true' || env.var_y == 'true' }}
      run: echo VAX="PROD" >> GITHUB_ENV

    - run: echo ${{ env.VAX }}
     