name: Test-2

on:
  push:
    branches:
      - test-2
  workflow_dispatch:
    inputs:
      prod:
        description: 'Use production environment [true/false]'
        required: false
        default: 'false'
      appstore:
        description: 'Upload to app-store [true/false]'
        required: false
        default: 'false'


jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - if: github.event.inputs.prod == 'true'
        run: echo ENV_TYPE="PROD" >> $GITHUB_ENV
      - if: github.event.inputs.prod != 'true'
        run: echo ENV_TYPE="DEV" >> $GITHUB_ENV
      - name: Set PROD if upload to AppStore
        if: github.event.inputs.appstore == 'true'
        run: echo ENV_TYPE="PROD" >> $GITHUB_ENV
      - run: echo ENV_TYPE=$ENV_TYPE
      - run: echo ENV_TYPE=${{ env.ENV_TYPE }}

      - if: env.ENV_TYPE == 'PROD'
        run: echo "IS_PROD=true" >> $GITHUB_ENV
        
      - if: env.ENV_TYPE != 'PROD'
        run: echo "IS_PROD=false" >> $GITHUB_ENV
     
      - run: echo IS_PROD=$IS_PROD
      - run: echo IS_PROD=${{ env.IS_PROD }}
  check2:
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ github.event.repository.name }}
      - run: | 
          REPONAME=$(echo ${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]')
          echo $REPONAME
          echo REPONAME=$REPONAME >> $GITHUB_ENV
      - run: echo ${{ env.REPONAME }}
